body {
    background-image: linear-gradient(to right, rgb(62, 129, 53),rgb(22, 187, 49),rgb(9, 131, 29));
    display: flex; flex-direction: column;
    font-family: "Roboto";
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex; justify-content: space-between; align-items: center;
    padding: 10px;
    background-color: rgb(53 56 65);
}

nav {
    display: flex;
    padding: 40px 200px 40px 40px;
}

ul {
    list-style-type: none; margin: 0; display: flex; 
}

nav, ul, li {
    gap: 40px;
    
}

.Impacted {
    font-size: 20px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.hero-image {
    display: flex; justify-content: center; align-content: center;
    background-image:url('Big House 1.jpg'); background-repeat: no-repeat; background-size: 100vw 900px;
    height: 900px;
    filter: brightness(0.5);
}
.hero-text {
    display: flex; flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 350px; left: 250px;
    color: white;

}
.rightplace {
    color:green;
    font-size: 75px;
    text-shadow: 0 0 5px greenyellow;
    font-family: impact;
}

.hero-text button {
    background-color: green; font-size: 30px; color: white; font-family: "Trebuchet MS";
    border: none;
    padding: 20px;
    text-shadow: 0 0 15px greenyellow;
    box-shadow: 0 0 40px darkgreen inset;
    cursor: pointer;
}
.hero-text button:hover {
    background-color: green; font-size: 30px; color: white; font-family: "Trebuchet MS";
    border: none;
    padding: 20px;
    text-shadow: 0 0 15px greenyellow;
    box-shadow: 0 0 40px darkgreen inset;
    cursor: pointer;
}

.floating-text {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}
  
.floating-text.visible {
opacity: 1;
transform: translateY(0);
}

footer {
    color: gray; background-color: rgb(53 56 65);
    display: flex; flex-direction: row; justify-content: center;
    padding: 30px;

}
  
a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
    font-size:24px;
    animation: dumbanim 1s ease-in 0s alternate; /*Shorthand + General order*/
}

a:hover {
    color: rgb(63, 100, 8);
    text-shadow: 0 0 15px yellow, 7px 7px 3px #444, 5px 5px 10px yellowgreen;
}

#logo {
    animation: dumbanim 1s ease-in 0s alternate; /*Shorthand + General order*/
}
    
@keyframes dumbanim {
    0% {
        filter: opacity(0%);
    }
    100% {
        filter: opacity(100%);
    }
    /* Percentages represent the stages*/
    /* No 100% will round to the default*/
}

img {
    border-radius: 40px;
    width:150px; height:125px;
}